:root {
    --bg-color: #ACC9E4;
    --bdr-color: black;
    --bdr-color2: #858585;
}

body {
    background-color: #ACC9E4;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 50px 200px auto 50px;
    gap: 10px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-item {
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 5px gray;
}

video {
    border-radius: 8px;
    width: 400px;
    height: 196px;
}
.video {
    background-color: rgb(58, 58, 58);
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
}
.titleText {
    margin: 0;
    padding: 0;
    line-height: 50px;
}

.canvasDiv {
    grid-row-start: 2;
    grid-row-end: 4;
}

.chat {
    grid-row-start: 3;
    grid-row-end: 5;
}


#canvas {
    /*border: 2px solid var(--bdr-color);*/
    border-radius: 10px;
    background-color: white;
}


#drawBar {
    height: 50px;
    border-top: 2px solid gray;
    background: none;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
}

.pointer {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    background: rgb(251,63,63);
    background: radial-gradient(circle, rgba(251,63,63,1) 28%, rgba(252,70,95,0) 44%);
}

.bottomItem {
    display: inline-block;
    line-height: 46px;
    padding: 0 10px;
    box-sizing: border-box;
}

.btn {
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(181, 193, 204);
}
.btn:active {
    background-color: rgb(181, 193, 204);
    box-shadow: none;
}

.textBox {
    border: 2px dashed;
    border-width: 2px;
    min-height: 15px;
    font-size: 16px;
    resize:none;
    overflow-y:hidden;
    margin: 0px;
    padding: 0px;
    line-height: 16px
  }

.layer {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.center {
    place-self: center;
    text-align: center;
}
.centerCheckbox {
    place-self: center;
    /*text-align: center;*/
}

.canvasBtn {
    place-self: stretch;
    border-radius: 5px;
    margin: 5px 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    cursor: default;
    cursor: pointer;
}
.canvasBtn:hover {
    background-color: #e0e9f1;
}
.canvasBtn:active {
    background-color: #ACC9E4;
    box-shadow: inset 0px 3px 5px gray;
}
.canvasBtnActive {
    background-color: #ACC9E4;
    box-shadow: inset 0px 3px 5px gray;
}

.canvasBtnAbs {
    position: absolute;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    cursor: default;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
}
.canvasBtnAbs:hover {
    background-color: #e0e9f1;
}

.colorRect {
    place-self: stretch;
    margin: 8px;
    background-color: #4198e9;
    border-radius: 3px;
}

.lineSizePopup {
    position: absolute;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    cursor: default;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    font-size: 28px;
}
.sizeDot {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
    background-color: black;
    border-radius: 100%;
}

